.active-link {
  background-color: rgba(16, 151, 205, 0.15); /* لون سماوي خفيف وشفاف */
  color: #1097cd;
  font-weight: 500;
}



.nav-link:hover {
  background-color: #e9ecef; /* لون رمادي فاتح */
  color: #000; /* لون النص */
}
