/* styles.css */
.container{
  width: 95% !important;
  margin: auto !important;
}
.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
@media (max-width: 767.98px) {
  .relative-on-sm {
    position: relative;
    right: 28px;
  }
}
