/* ✅ لون الخلفية للتوست نوع success */
.toast-success {
  margin-top: 50px !important; /* المسافة من الأعلى */
  background-color: #4e73df !important; /* اللون اللي طلبته */
  color: white !important;             /* لون الخط */
}

/* ✅ لون الخلفية للتوست نوع error */
.toast-error {
  background-color: #dc3545 !important;
  color: white !important;
}

/* ✅ لون الخلفية للتوست نوع warning */
.toast-warning {
  background-color: #ffc107 !important;
  color: black !important;
}

/* ✅ لون الخلفية للتوست نوع info */
.toast-info {
  background-color: #17a2b8 !important;
  color: white !important;
}
.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* شفافية */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
